@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradt-purp {
      background-image: linear-gradient(to right, #341c51, #bb0691);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
